:root {
    --base-font-color: white;
    /* background-color */
    --background-color-first: rgba(44,62,80,255);
    --background-color-second: rgba(26,188,156,255);
    --background-color-bar-light: white;
    --background-color-bar-dark: black;
}
body {
    color: var(--base-font-color);
    font-family: 'Montserrat', sans-serif;
}
/* MS_TAG */
.ms_display-only-xs {
    display: none;
}
/* /MS_TAG */
/* DECORATION-STARK */
.fa-star {
    vertical-align: middle;
    margin: 0.5em;
}
.star-bar {
    width: 15%;
    height: 3px;
    display: inline-block;
}
.ms_light {
    background-color: var(--background-color-bar-light);
}
.ms_dark {
    background-color: var(--background-color-bar-dark);
}
/* /DECORATION-STARK */
/* HEADER */
.header {
    background-color: var(--background-color-first);
}
/* /HEADER */
/* JUMBOTRON */
.jumbotron {
    background-color: var(--background-color-second);
}
.jumbotron img {
    width: 15%;
}
/* /JUMBOTRON */
/* PORTFOLIO */
.portfolio img {
    width: 100%;
}
/* /PORTFOLIO */
/* ABOUT */
.about {
    background-color: var(--background-color-second);
}
/* /ABOUT */
/* CONTACT-ME */
.contact-me input {
    display: block;
}
/* /CONTACT-ME */
/* FOOTER */
footer {
    background-color: teal;
}
footer .ms_top {
    height: 80%;
    background-color: tomato;
}
footer .ms_bottom {
    height: 20%;
    background-color: olive;
}
/* /FOOTER */
@media screen and (max-width: 576px) {
    .ms_display-no-xs {
        display: none;
    }
    .ms_display-only-xs {
        display: inline-block;
        font-size: 2rem;
    }
}



/* TEMPORARY-CLASS */
.square {
    height: 120px;
    background-color: violet;
    border: 1px solid black;
}