:root {
    --base-font-color: white;
    /* background-color */
    --background-color-header: rgba(44,62,80,255);
    --background-color-jumbotron: rgba(26,188,156,255);
    --background-color-bar: white;
}
* {
    color: var(--base-font-color);
    font-family: 'Montserrat', sans-serif;
}
/* MS_TAG */
.ms_txt-align-center {
    text-align: center;
}
.ms_display-only-xs {
    display: none;
}
/* /MS_TAG */
/* HEADER */
.header {
    background-color: var(--background-color-header);
}
/* /HEADER */
/* JUMBOTRON */
.jumbotron {
    background-color: var(--background-color-jumbotron);
}
.jumbotron img {
    width: 20%;
}
.jumbotron .fa-star {
    vertical-align: middle;
    margin: 0.5em;
}
.jumbotron .bar {
    width: 20%;
    height: 3px;
    background-color: var(--background-color-bar);
    display: inline-block;
}
/* /JUMBOTRON */
/* PORTFOLIO */
.portfolio {
    background-color: tomato;
}
/* /PORTFOLIO */
/* ABOUT */
.about {
    background-color: royalblue;
}
/* /ABOUT */
/* CONTACT-ME */
.contact-me {
    background-color: springgreen;
}
.contact-me input {
    display: block;
}
/* /CONTACT-ME */
/* FOOTER */
footer {
    background-color: teal;
}
footer .ms_top {
    height: 80%;
    background-color: tomato;
}
footer .ms_bottom {
    height: 20%;
    background-color: olive;
}
/* /FOOTER */
@media screen and (max-width: 576px) {
    .ms_display-no-xs {
        display: none;
    }
    .ms_display-only-xs {
        display: inline-block;
        font-size: 2rem;
    }
}



/* TEMPORARY-CLASS */
.square {
    height: 120px;
    background-color: violet;
    border: 1px solid black;
}